{
    "rules": {
        "no-undef": [ 0 ],
        "indent": [
            2,
            2
        ],
        "quotes": [
            0,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ]
    },
    "env": {
        "es6": true,
        "browser": true
    },
    "extends": "eslint:recommended"
}
